<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Listagem de objetos</title>
    <link rel="stylesheet" type="text/css" href="/static/ext/resources/css/ext-all.css" />
    <script type="text/javascript" src="/static/ext/ext-all-dev.js" ></script>    
    <script type="text/javascript" src="/static/ext/ext-all-debug.js"></script>
    <script type="text/javascript" src="/static/product_js/list_all.js" ></script>    
    


</head>
<body>
</body>


</html>